body {
    font-family: Arial, sans-serif;
    background: #e0f7fa;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('back.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    flex: 1;
}

button {
    padding: 10px 20px;
    border: none;
    background: #00796b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #004d40;
}

#weather-info {
    display: none;
    text-align: left;
}

#weather-details {
    display: flex;
    align-items: center;
}

#weather-details i {
    font-size: 100px;
    margin-right: 20px;
}

#weather-details p {
    margin: 5px 0;
}
